<section class="position">
  <article class="sectionDiary" id="agenda">
    <h2 class="titleDiary">Agenda</h2>

    <div class="diary">
      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">8</span>
            <span>30</span>
          </div>
          <div>
            <span class="diary__time--ent">9</span>
            <span>55</span>
          </div>
        </div>
        <div class="diary__act">
          <p>Registro</p>
        </div>
      </div>

      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">10</span>
            <span>00</span>
          </div>
          <div>
            <span class="diary__time--ent">10</span>
            <span>25</span>
          </div>
        </div>
        <div class="diary__act">
          <p>Acto de bienvenida</p>
        </div>
      </div>

      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">10</span>
            <span>00</span>
          </div>
          <div>
            <span class="diary__time--ent">10</span>
            <span>25</span>
          </div>
        </div>
        <div class="diary__presentations">
          <p>"Lorem, ipsum dolor sit amet consectetur adipisicing elit"
          <p>- </p>
          <p> Paula Gonzalez</p>
        </div>
      </div>

      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">10</span>
            <span>00</span>
          </div>
          <div>
            <span class="diary__time--ent">10</span>
            <span>25</span>
          </div>
        </div>
        <div class="diary__presentations js-modal">
          <p>"Cómo teletrabajar con un buen café, vete a un coworking"
          <p>- </p>
          <p> Paula Gonzalez</p>
          </p>
        </div>
      </div>

      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">10</span>
            <span>00</span>
          </div>
          <div>
            <span class="diary__time--ent">10</span>
            <span>25</span>
          </div>
        </div>
        <div class="diary__act">
          <p>Pausa para tomar empanadas Malvon</p>
        </div>
      </div>

      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">11</span>
            <span>00</span>
          </div>
          <div>
            <span class="diary__time--ent">11</span>
            <span>25</span>
          </div>
        </div>
        <div class="diary__presentations">
          <p>"Cómo teletrabajar con un buen café, vete a un coworking"
          <p>- </p>
          <p> Paula Gonzalez</p>
          </p>
        </div>

      </div>

      <div class="diary__cel">
        <div class="diary__time">
          <div>
            <span class="diary__time--ent">12</span>
            <span>00</span>
          </div>
          <div>
            <span class="diary__time--ent">12</span>
            <span>25</span>
          </div>
        </div>
        <div class="diary__act">
          <p>Networking</p>
        </div>
      </div>

    </div>
  </article>

  <article class="modal hidden js-modalPaula">
  <div class="modal__container">
    <div class="modal__column img-column">
      <img src="./assets/images/istockphoto-1328879352-612x612.jpg" alt="" class="modal__imgM">
      <h2 class="modal__name">Paula García</h2></div>
      <div class="modal__column text-column"><h3 class="modal__titleP">"Cómo teletrabajar con un buen café, vete a un coworking"</h3>
    
      <p class="modal__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis commodi deleniti cum,
        explicabo fugit in tenetur numquam, placeat eaque, veritatis accusantium. Fugiat animi ratione repudiandae
        facilis
        dolores debitis veniam dolore?</p>
      <p class="modal__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, dolorem assumenda
        iure
        magni dolores ratione quasi reprehenderit impedit aliquam labore, vitae totam qui maxime modi distinctio?
        Atque
        vero at nesciunt!
      </p>

    <button src="index.html#agenda" class="modal__close js-close">Volver</button>
  </div></div>
</article>

</section>