<footer class="footer">
  <section class="footer_section_rrss">
    <a href="">
      <i class="fa-brands fa-x-twitter"></i>
    </a>
    <a href="">
      <i class="fa-brands fa-x-twitter"></i>
    </a>
    <a href="">
      <i class="fa-brands fa-x-twitter"></i>
    </a>
    <a href="">
      <i class="fa-brands fa-x-twitter"></i>
    </a>
  </section>
  <section class="footer_section_links">
    <a href="">Contacto</a>
    <a href="">Política de privacidad</a>
    <a href="">Código de conducta</a>
  </section>
  <section class="footer_section_logo">
    <img
      class="footer_section_logo-img"
      src="./assets/images/logo-wtm-blue.png"
      alt="Logo Women TechMakers"
    />
  </section>
  <span class="footer_section_copy">Copyright 2024</span>
</footer>
