<footer class="footer">
  <section class="footer_section_redes">
    <a href="">
      <i class="fa-brands fa-x-twitter"></i>
    </a>
    <a href="">
      <i class="fa-brands fa-x-twitter"></i>
    </a>
    <a href="">
      <i class="fa-brands fa-x-twitter"></i>
    </a>
    <a href="">
      <i class="fa-brands fa-x-twitter"></i>
    </a>
  </section>
  <section class="footer_section_links">
    <a href="">Contacto</a>
    <a href="">Política de privacidad</a>
    <a href="">Copy</a>
  </section>
</footer>
