<footer class="footer">
  <div class="footer_section_content">
    <section class="footer_section_rrss">
      <a href="">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
      <a href="">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="">
        <i class="fa-solid fa-envelope"></i>
      </a>
      <a href="">
        <i class="fa-brands fa-github"></i>
      </a>
    </section>
  </div>
  <div class="footer_section_content_c2">
    <section class="footer_section_links">
      <a href="">Contacto</a>
      <a href="">Política de privacidad</a>
      <a href="./codigo.html">Código de conducta</a>
    </section>
    <section class="footer_section_logo">
      <img
        class="footer_section_logo-img"
        src="./assets/images/logo-wtm-blue.png"
        alt="Logo Women TechMakers"
      />
    </section>
  </div>
  <span class="footer_section_copy">WTM &copy 2024</span>
</footer>
