<header class="header">
  <nav class="header_nav">
    <div class="header_nav_div">
      <div class="header_nav_div_logo">
        <img class="header_nav_div_logo-img" src="./assets/images/logo-wtm-blue.png" alt="Logo Women TechMakers">
      </div>
      <a class="header_nav_div-a" href="index.html#info">Información</a>
      <a class="header_nav_div-a" href="index.html#agenda">Agenda</a>
      <a class="header_nav_div-a" href="index.html#ponentes">Ponentes</a>
      <a class="header_nav_div-a" href="index.html#organizacion">Sobre nosotras</a>
      <a class="header_nav_div-a" href="index.html#patrocinadores">Patrocinadores</a>
    </div>
    <div class="header_nav_divTwo">
      <a class="header_nav_divTwo-a" href="#">Entradas</a>
      <a class="header_nav_divTwo-a" href="#">Contacto</a>
    </div>
    <!-- <div class="header_nav_toggle">
      <a href="index.html#info">Información</a>
      <a href="index.html#agenda">Agenda</a>
      <a href="index.html#ponentes">Ponentes</a>
      <a href="index.html#organizacion">Sobre nosotras</a>
      <a href="index.html#patrocinadores">Patrocinadores</a>
    </div> -->
  </nav>
  <img class="toggleMenu" src="./assets/images/menu-icon.png" alt="Toggle Menu">
</header>


 <!-- <header>
      <nav class="navbar">
        <img class="nav_logo" src="./assets/images/logo-wtm-blue.png" alt="Logo Women TechMakers">
        <div class="nav_items" id="_items">
          <a href="index.html#info">Información</a>
          <a href="index.html#agenda">Agenda</a>
          <a href="index.html#ponentes">Ponentes</a>
          <a href="index.html#organizacion">Sobre nosotras</a>
          <a href="index.html#patrocinadores">Patrocinadores</a>
    </div>
        <div class="nav_toggle" id="_toggle">
            <span></span>
            <span></span>
            <span></span>
    </div>
 </header> -->