<header class="header">
  <nav class="header_nav">
    <div class="header_nav_div">
      <div class="header_nav_div_logo">
        <img class="header_nav_div_logo-img" src="./assets/images/pruebalogo3.png" alt="Logo Women TechMakers">
        <!-- <h1 class="header_nav_div_logo-h1">
          <span>WTM</span>
          <span>Madrid</span>
        </h1> -->
      </div>
      <a class="header_nav_div-a" href="index.html#info">Información</a>
      <a class="header_nav_div-a" href="index.html#agenda">Agenda</a>
      <a class="header_nav_div-a" href="index.html#ponentes">Ponentes</a>
      <a class="header_nav_div-a" href="index.html#organizacion">Sobre nosotras</a>
      <a class="header_nav_div-a" href="index.html#patrocinadores">Patrocinadores</a>
    </div>
    <div class="header_nav_divTwo">
      <a class="header_nav_divTwo-a" href="#">Entradas</a>
      <a class="header_nav_divTwo-a" href="#">Contacto</a>
    </div>
  </nav>
  <img class="toggleMenu" src="./assets/images/menu-icon.png" alt="Toggle Menu">
</header>

