<header class="header">
    <h1 class="header_h1"><a href="index.html">Madrid Women TechMakers</a></h1>
    <nav class="header_nav">
      <ul class="header_nav_ul">
        <li><a href="index.html#info">Información</a></li>
        <li><a href="index.html#agenda">Agenda</a></li>
        <li><a href="index.html#ponentes">Ponentes</a></li>
        <li><a href="index.html#organizacion">Sobre nosotras</a></li>
        <li><a href="index.html#patrocinadores">Patrocinadores</a></li>
        <li><a href="">Entradas</a></li>
        <li><a href="">Contacto</a></li>
      </ul>
    </nav>
  </header>