<section class="hero" id="hero">
    <div class="hero_box">
        <img class="hero_box-img" src="./assets/images/impact-the-future.png" alt=" Imagen Impact the future">
        <ul class="hero_box_ul">
            <li class="hero_box_ul-li">
                <img class="hero_box_ul-li-img" src="./assets/images/calendario.png" alt="Icono calendario">
                <p class="hero_box_ul-li-p">8 de Marzo de 2024</p>
            </li>
            <li class="hero_box_ul-li">
                <img class="hero_box_ul-li-img" src="./assets/images/mapa.png" alt="Icono mapa">
                <p class="hero_box_ul-li-p">Celonis Calle Tal tal tal 28031</p>
            </li>
            <li class="hero_box_ul-li">
                <img class="hero_box_ul-li-img" src="./assets/images/ticket.png" alt="Icono ticket">
                <p class="hero_box_ul-li-p">Entradas Disponibles</p>
            </li>
        </ul>
    </div>
</section>