<section class="hero" id="hero">
    <div class="hero_box">
        <img class="hero_box-wtm" src="./assets/images/wtm-madrid.png" alt=" Imagen Impact the future">
        <img class="hero_box-img" src="./assets/images/impact-the-future.png" alt=" Imagen Impact the future">
        <ul class="hero_box_ul">
            <li class="hero_box_ul-li">
                <img class="hero_box_ul-li-img" src="./assets/images/calendario.png" alt="Icono calendario">
                <p class="hero_box_ul-li-p">8 de Marzo de 2024</p>
            </li>
            <li class="hero_box_ul-lii">
                <img class="hero_box_ul-lii-img" src="./assets/images/mapa.png" alt="Icono mapa">
                <p class="hero_box_ul-lii-p">Celonis Calle Desengaño, 21 </p>
            </li>
            <li class="hero_box_ul-liii">
                <img class="hero_box_ul-liii-img" src="./assets/images/ticket2.png" alt="Icono ticket">
                <p class="hero_box_ul-liii-p">Entradas Disponibles</p>
            </li>
        </ul>
    </div>
</section>  