<section class="home" id="home">
  <h2 class="home_title">home</h2>
  <section class="home_section">
    <p class="home_section-p">
      El 18 de Mayo tienes una cita en nuestra quinta edición del evento
      <strong>Women Techmakers Madrid.</strong>
      <br />
      Women Techmakers es una iniciativa liderada por Google, que se está
      expandiendo a un programa a nivel mundial.
      <strong>Con motivo del Día Internacional de la Mujer</strong>
      , se promueven diferentes eventos alrededor del mundo con el objetivo de
      dar a conocer el trabajo y el conocimiento de las mujeres en el sector
      técnico.
      <br />
      En Madrid
      <strong>queremos juntar a las mejores ponentes</strong>
      para que puedan compartir con todos nosotros su conocimiento. Y recordad
      que
      <strong>los chicos también están invitados</strong>
      a asistir al evento.
      <br />
      <strong>Call 4 Sponsors</strong>
      ********no está terminado********
      <br />
      <strong>Call 4 Papers</strong>
      ********no está terminado********
    </p>
    <img
      class="home_section-img"
      src="./assets/images/pepinas.jpg"
      alt="foto pepinas"
    />
  </section>
</section>
