<section class="info" id="info">
  <h2 class="info_title">información</h2>
  <h3 class="info_title-h3">Women Techmakers Madrid</h3>
  <section class="info_section">
    <p class="info_section-p">
      El 23 de Abril tienes una cita en nuestra quinta edición del evento
      <strong>Women Techmakers Madrid</strong>
      . Women Techmakers es una iniciativa liderada por Google, que se está
      expandiendo a un programa a nivel mundial.
      <strong>Con motivo del Día Internacional de la Mujer</strong>
      , se promueven diferentes eventos alrededor del mundo con el objetivo de
      dar a conocer el trabajo y el conocimiento de las mujeres en el sector
      técnico. En Madrid
      <strong>queremos juntar a las mejores ponentes</strong>
      para que puedan compartir con todos nosotros su conocimiento. Y recordad
      que
      <strong>los chicos también están invitados</strong>
      a asistir al evento.
    </p>
    <img
      class="info_section-img"
      src="./assets/images/pepinas.jpg"
      alt="foto pepinas"
    />
  </section>
</section>
