<section class="organitation">
  <div class="conatiner">
    <div class="container marga">
      <div class="border marga">
        <div class="content marga">1</div>
      </div>
    </div>
    <!--fin marga-->

    <div class="container ada">
      <div class="border ada">
        <div class="content ada">2</div>
      </div>
    </div>
    <!--fin ada-->

    <div class="container grace">
      <div class="border grace">
        <div class="content grace">3</div>
      </div>
    </div>
    <!--fin grace-->

    <div class="container ilus">
      <div class="border ilus">
        <div class="content ilus">4</div>
      </div>
    </div>
    <!--fin ilus-->
  </div>
  <!--fin main-->
</section>
