<section class="container" id="organizacion">
  <div class="container_div">
    <!-- <img
        class="speaker_ada_img"
        src="../../images/ada-lovelace.jpeg"
        alt="ada lovelace"
        longdesc=""
      /> -->
    <h2 class="container_div_h2">Ada Lovelace</h2>
    <p class="container_div_p">
      Lorem ipsum dolor sit amet consectetur 
    </p>
  </div>
  <div class="speaker_grace">
    <!-- <figure>
          <img
            class="speaker_grace_img"
            src="../../images/grace-hopper.jpeg"
            alt="ada lovelace"
            longdesc=""
          />
      </figure> -->
    <h2 class="speaker_grace_title">Grace Hopper</h2>
    <p class="speaker_grace_desc">
      Lorem ipsum dolor sit amet consectetur 
    </p>
  </div>
  <div class="speaker_Margaret">
    <!-- <img
        class="speaker_ada_img"
        src="../../images/margaret-hamilton.jpeg"
        alt="ada lovelace"
        longdesc=""
      /> -->
    <h2 class="speaker_Margaret_title">Margaret Hamilton</h2>
    <p class="speaker_Margaret_desc">
      Lorem ipsum dolor sit amet consectetur 
    </p>
  </div>
  <div class="speaker_developer">
    <!-- <img
        class="speaker_developer_img"
        src="../../images/programadora.jpeg"
        alt="ada lovelace"
        longdesc=""
      /> -->
    <h2 class="speaker_developer_title">Developer</h2>
    <p class="speaker_developer_desc">
      Lorem ipsum dolor sit amet consectetur 
  </div>
</section>
