<section class="organitation" id="organizacion">
  <h2 class="organitation__title">ORGANIZACIÓN</h2>
  <div class="organitation__img">
    <div>
      <div class="organitation__img_container container">
        <img src="./assets/images/mariTereSFlor.png" class="organitation__img_container_unique img"
          alt="Maritere Nieto organizadora" />
      </div>
      <div class="organitation__img_name">
        <p class="organitation__img_name-p">Maritere Nieto</p>
        <a class="organitation__img_name-icon" href="https://twitter.com/_mtnieto/" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a class="organitation__img_name-icon" href="https://www.linkedin.com/in/mariateresanieto/" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>

    <div>
      <div class="organitation__img_container container">
        <img src="./assets/images/lauraSFlor.png" class="organitation__img_container_unique img"
          alt="Nombre de la organizadora" />
      </div>
      <div class="organitation__img_name">
        <p class="organitation__img_name-p">Laura Lacarra</p>
        <a class="organitation__img_name-icon" href="https://www.linkedin.com/in/lauralacarra/
          " target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>

    <div>
      <div class="organitation__img_container container">
        <img src="./assets/images/ariSFlor.png" class="organitation__img_container_unique img"
          alt="Nombre de la ponente" />
      </div>
      <div class="organitation__img_name">
        <p class="organitation__img_name-p">Ariane Jurado De Bilbao</p>
        <a class="organitation__img_name-icon" href="https://twitter.com/ari_reinventada" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a class="organitation__img_name-icon" href="https://www.linkedin.com/in/arianejuradodebilbao/" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>

    <div>
      <div class="organitation__img_container container">
        <img src="./assets/images/xaviSFlor.png" class="organitation__img_container_unique img"
          alt="Nombre de la ponente" />
      </div>
      <div class="organitation__img_name">
        <p class="organitation__img_name-p">Xavier Portilla Edo</p>
        <a class="organitation__img_name-icon" href="https://twitter.com/Xavidop" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a class="organitation__img_name-icon" href="https://www.linkedin.com/in/xavierportillaedo/" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>

    <div>
      <div class="organitation__img_container container">
        <img src="./assets/images/rachelSFlor.png" class="organitation__img_container_unique img"
          alt="Nombre de la ponente" />
      </div>
      <div class="organitation__img_name">
        <p class="organitation__img_name-p">Nombre ponente</p>
        <a class="organitation__img_name-icon" href="https://www.linkedin.com/in/alba-gg" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a class="organitation__img_name-icon" href="https://www.linkedin.com/in/alba-gg" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>

    <div>
      <div class="organitation__img_container container">
        <img src="./assets/images/mariTereSFlor.png" class="organitation__img_container_unique img"
          alt="Nombre de la ponente" />
      </div>
      <div class="organitation__img_name">
        <p class="organitation__img_name-p">Nombre ponente</p>
        <a class="organitation__img_name-icon" href="https://www.linkedin.com/in/alba-gg" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a class="organitation__img_name-icon" href="https://www.linkedin.com/in/alba-gg" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- <div class="modal_box hidden" id="modalWindow">
  <div class="modal_text" id="modalText">
  </div>
</div> -->
</section>