<section class="sponsors" >
    <h2 class="sponsors_title">PATROCINADORES</h2>
  <div class="sponsors_img">
    <div>
        <a href="https://placehold.co/200x100" target="_blank">
          <img src="https://placehold.co/200x100"/>
        </a>
    </div>
    <div>
        <a href="https://placehold.co/200x100" target="_blank">
          <img src="https://placehold.co/200x100"/>
        </a>
    </div>
    <div>
        <a href="https://placehold.co/200x100" target="_blank">
          <img src="https://placehold.co/200x100"/>
        </a>
    </div>
    <div>
        <a href="https://placehold.co/200x100" target="_blank">
          <img src="https://placehold.co/200x100"/>
        </a>
    </div>
    <div>
        <a href="https://placehold.co/200x100" target="_blank">
          <img src="https://placehold.co/200x100"/>
        </a>
    </div>
    <div>
        <a href="https://placehold.co/200x100" target="_blank">
          <img src="https://placehold.co/200x100"/>
        </a>
    </div>
  </div>
  <a class="sponsors_a" href="https://developers.google.com/womentechmakers" ><button type="button" name="sponsors" class="sponsors_button">¿Quieres apoyarnos?</button></a>
</section>