<section class="sponsors" >
    <h2 class="sponsors_title" id="patrocinadores">PATROCINADORES</h2>
  <div class="sponsors_img">
    <div>
        <a class="sponsors_img_a" href="https://gdg.community.dev/gdg-madrid/" target="_blank">
          <img class="sponsors_img_unique" src="./assets/images/logo-gdg.png"/>
        </a>
    </div>
    <div>
        <a class="sponsors_img_a" href="https://gdg.community.dev/gdg-madrid/" target="_blank">
          <img class="sponsors_img_unique" src="./assets/images/logo-gdg.png"/>
        </a>
    </div>
    <div>
        <a class="sponsors_img_a" href="https://gdg.community.dev/gdg-madrid/" target="_blank">
          <img class="sponsors_img_unique" src="./assets/images/logo-gdg.png"/>
        </a>
    </div>
    <div>
        <a class="sponsors_img_a" href="https://placehold.co/200x100" target="_blank">
          <img class="sponsors_img_unique" src="./assets/images/logo-gdg.png"/>
        </a>
    </div>
    <div>
        <a class="sponsors_img_a" href="https://gdg.community.dev/gdg-madrid/" target="_blank">
          <img class="sponsors_img_unique" src="./assets/images/logo-gdg.png"/>
        </a>
    </div>
    <div>
        <a class="sponsors_img_a" href="https://gdg.community.dev/gdg-madrid/" target="_blank">
          <img class="sponsors_img_unique" src="./assets/images/logo-gdg.png"/>
        </a>
    </div>
  </div>
  <a class="sponsors_a" href="https://developers.google.com/womentechmakers" ><button type="button" name="sponsors" class="sponsors_button">¿Quieres apoyarnos?</button></a>
</section>