<section class="speakers" id="ponentes">
  <h2 class="speakers_title" >PONENTES</h2>
<div class="speakers_img">
  <div class="speakers_img_container container">
      <a class="icon" href="https://www.linkedin.com/in/alba-gg" target="_blank">
        <img src="./assets/images/istockphoto-1328879352-612x612.jpg" class="speakers_img_container_unique img"/>
        <p class="name">Nombre ponente</p>
        <i class="name2 fa-brands fa-linkedin"></i>
      </a>
  </div>
  <div class="speakers_img_container container">
    <a class="icon" href="https://www.linkedin.com/in/alba-gg" target="_blank">
      <img src="./assets/images/istockphoto-1328879352-612x612.jpg" class="speakers_img_container_unique img"/>
      <p class="name">Nombre ponente</p>
    </a>
  </div>
  <div class="speakers_img_container" >
      
        <img src="./assets/images/istockphoto-1328879352-612x612.jpg" class="speakers_img_container_unique"/>
     
  </div>
  <div class="speakers_img_container">
      <a href="https://placehold.co/100x100" target="_blank">
        <img src="./assets/images/istockphoto-1328879352-612x612.jpg" class="speakers_img_container_unique"/>
      </a>
  </div>
  <div class="speakers_img_container">
      <a href="https://placehold.co/100x100" target="_blank">
        <img src="./assets/images/istockphoto-1328879352-612x612.jpg" class="speakers_img_container_unique"/>
      </a>
  </div>

   <div class="speakers_img_container">
      <a href="https://placehold.co/100x100" target="_blank">
          <img src="./assets/images/istockphoto-1328879352-612x612.jpg" class="speakers_img_container_unique"/>
      </a>
  </div>

  <div class="modal_box hidden" id="modalWindow">
       <div class="modal_text">
         <p> Nombre de la ponente </p>
         <i class="fa-brands fa-x-twitter"></i>
         <i class="fa-brands fa-linkedin"></i>
       </div>
  </div>

</div>
<a class="speakers_a" href="https://developers.google.com/womentechmakers" ><button type="button" name="speakers" class="speakers_button">¿Quieres participar en el evento?</button></a>
</section>
