<section class="speakers" >
    <h2 class="speakers_title">PONENTES</h2>
  <div class="speakers_img">
    <div>
        <a href="https://placehold.co/100x100" target="_blank">
          <img src="./assets/images/istockphoto-1328879352-612x612.jpg" alt="Nombre ponente" width="100" height="100" class="speakers_img_unique"/>
        </a>
        <p class="speakers_img_name">Nombre de la ponente</p>
    </div>
    <div>
        <a href="https://placehold.co/100x100" target="_blank">
          <img src="./assets/images/istockphoto-1328879352-612x612.jpg" class="speakers_img_unique"/>
        </a>
        <p class="speakers_img_name">Nombre de la ponente</p>
    </div>
    <div>
        <a href="https://placehold.co/100x100" target="_blank">
          <img src="./assets/images/istockphoto-1328879352-612x612.jpg" class="speakers_img_unique"/>
        </a>
    </div>
    <div>
        <a href="https://placehold.co/100x100" target="_blank">
          <img src="./assets/images/istockphoto-1328879352-612x612.jpg" class="speakers_img_unique"/>
        </a>
    </div>
    <div>
        <a href="https://placehold.co/100x100" target="_blank">
          <img src="./assets/images/istockphoto-1328879352-612x612.jpg" class="speakers_img_unique"/>
        </a>
    </div>
  
     <div class=>
        <a href="https://placehold.co/100x100" target="_blank">
            <img src="./assets/images/istockphoto-1328879352-612x612.jpg" class="speakers_img_unique"/>
        </a>
        <p class="speakers_img_name">Nombre de la ponente</p>
    </div>

  </div>
  <a class="speakers_a" href="https://developers.google.com/womentechmakers" ><button type="button" name="speakers" class="speakers_button">¿Quieres participar en el evento?</button></a>
</section>