<section class="speakers" >
    <h2 class="speakers_title">PONENTES</h2>
  <div class="speakers_img">
    <div>
        <a href="https://placehold.co/200x100" target="_blank">
          <img src="https://placehold.co/200x100"/>
        </a>
    </div>
    <div>
        <a href="https://placehold.co/200x100" target="_blank">
          <img src="https://placehold.co/200x100"/>
        </a>
    </div>
    <div>
        <a href="https://placehold.co/200x100" target="_blank">
          <img src="https://placehold.co/200x100"/>
        </a>
    </div>
    <div>
        <a href="https://placehold.co/200x100" target="_blank">
          <img src="https://placehold.co/200x100"/>
        </a>
    </div>
    <div>
        <a href="https://placehold.co/200x100" target="_blank">
          <img src="https://placehold.co/200x100"/>
        </a>
    </div>
    <div>
        <a href="https://placehold.co/200x100" target="_blank">
          <img src="https://placehold.co/200x100"/>
        </a>
    </div>
  </div>
  <a class="sponsors_a" href="https://developers.google.com/womentechmakers" ><button type="button" name="sponsors" class="sponsors_button">¿Quieres participar en el evento?</button></a>
</section>