// Tipos de letras
$merriweather: "Merriweather", sans-serif;
$montserrat: "Montserrat", sans-serif;
$openSans: "Open Sans", sans-serif;
$font-main: 'Roboto', sans-serif;

// colors
$bluePastel: #54a7ed;
$blue: #2480f0; 
$greenPastel: #00dba2;
$green: #00b698;
$orangePastel: #ffc4a2;
$coral: #ff676a; 
$black: #202124;
$white: #ffffff ;

