.position {
  position: relative;
}

.sectionDiary {
  @include dFlex(column, 0, 0);
  @include padding(0, 4rem);

  @media (min-width: 768px) {
    margin-inline: 6rem;
  }
  @media (min-width: 768px) {
    margin-inline: 10rem;
  }
}

.titleDiary {
  @include dFlex(column, 0, center);
  @include textStyle($bluePastel, $montserrat, 2rem, bold, 1.5rem);
  @include margin(0, 3.5rem);
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 3.5rem;
  }
}

.diary {
  @include dFlex(column, center, 0);
  @include margin(2rem, 0);
  @include padding(2rem, 2rem);
  background-color: $background1;
  border-radius: 1.3rem;
  gap: 1rem;
  flex-wrap: wrap;

  &__cel {
    display: flex;
    gap: 0.5rem;
  }

  &__time {
    width: 5.8rem;
    text-align: center;
    @include dFlex(column, space-between, 0);
    flex: 0 0 auto;
    background-image: linear-gradient(to left, $blue, $bluePastel);
    //border: 0.1rem solid $green;
    border-radius: 1.3rem;
    @include textStyle($white, $montserrat, 1rem, semiregular, 1.5rem);
    @include padding(1rem, 1rem);
    &--ent {
      @include textStyle($white, $montserrat, 1.3rem, bold, 1.5rem);

      @media (min-width: 768px) {
        font-size: 2rem;
      }
    }

    @media (min-width: 768px) {
      font-size: 1.3rem;
      width: 7rem;
    }
  }

  &__act {
    @include dFlex(0, center, center);
    flex-direction: column;
    background: $background1;
    @include padding(2.5rem, 0.6rem);
    @include textStyle($white, $montserrat, 1.3rem, regular, 1.5rem);
    border-radius: 1.3rem;
    text-align: center;
    flex: 1 1 auto;

    @media (min-width: 768px) {
      font-size: 1.6rem;
    }
  }

  &__presentations {
    @include dFlex(0, center, center);
    flex-direction: column;
    background: $bluePastel;
    @include padding(2.5rem, 1.6rem);
    @include textStyle($white, $montserrat, 1.3rem, regular, 1.5rem);
    cursor: pointer;
    border-radius: 1.3rem;
    text-align: center;
    flex: 1 1 auto;

    &:hover {
      background: $turquoisePastel;
      color: grey;
    }
    @media (min-width: 768px) {
      font-size: 1.6rem;
    }
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111ab;
  @include dFlex(column, center, center);

  &__container {
    @include dFlex(column, center, center);
    text-align: center;
    background-color: $turquoisePastel;
    border-radius: 2.5rem;
    padding: 2rem;
    width: 70%;
    @media (min-width: 768px) {
      width: 80%;
    }
  }

  &__imgM {
    width: 18rem;
    border-radius: 2.5rem;
    margin-bottom: 2.5rem;

    @media (min-width: 768px) {
      width: 20rem;
    }
  }

  &__name {
    @include textStyle($bluePastel, $montserrat, 2rem, bold, 0);
    margin-bottom: 1.5rem;
  }

  &__titleP {
    @include textStyle($green, $montserrat, 1.2rem, bold, 1.5);
    margin-bottom: 2.5rem;
  }

  &__text {
    @include textStyle($white, $montserrat, 1.2rem, regular, 1.5);
    margin-bottom: 2.5rem;
    @media (min-width: 768px) {
      margin-inline: 3rem;
    }
  }

  &__close {
    @include textStyle($white, $montserrat, 1.6rem, regular, 1.5);
    @include btn (none, 3rem, $green);
    text-decoration: none;
    padding: 0.5rem 2.5rem;
  }
}

.hidden {
  display: none;
}
