.diarySection {
  position: relative;
  display: flex;
  justify-content: center;
}

.sectionDiary {
  @include dFlex(column, 0, 0);
  margin-bottom: 6rem;
}

.titleDiary {
  @include dFlex(column, 0, center);
  @include textStyle(#2480f0, $montserrat, 2rem, bold, 1.5rem);
  @include margin(0, 3.5rem);
  text-transform: uppercase;
  padding-top: 2rem;

  @media (min-width: 768px) {
    font-size: 3.5rem;
  }
}

.diary {
  @include dFlex(column, center, 0);
  @include margin(2rem, 0);
  @include padding(2rem, 2rem);
  background-color: $background1;
  border-radius: 1.3rem;
  gap: 1rem;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    width: 65rem;
  }
  @media (min-width: 1024px) {
    width: 80rem;
  }
  @media (min-width: 1440px) {
    width: 105rem;
  }

  &__cel {
    display: flex;
    gap: 0.5rem;
  }

  &__time {
    width: 5.8rem;
    text-align: center;
    @include dFlex(column, space-between, 0);
    flex: 0 0 auto;
    background-image: linear-gradient(to bottom, #00cfb4be, #379cfa);
    //border: 0.1rem solid $green;
    border-radius: 1.3rem;
    @include textStyle($white, $montserrat, 1rem, semiregular, 1.2);
    @include padding(1rem, 1rem);
    &--ent {
      @include textStyle($white, $montserrat, 1.3rem, bold, 1.2);

      @media (min-width: 768px) {
        font-size: 2rem;
      }
    }

    @media (min-width: 768px) {
      font-size: 1.3rem;
      width: 7rem;
    }
  }

  &__act {
    @include dFlex(0, center, center);
    flex-direction: column;
    background: $background1;
    @include padding(2.5rem, 0.6rem);
    @include textStyle(grey, $montserrat, 1.3rem, regular, 1.5);
    border-radius: 1.3rem;
    text-align: center;
    flex: 1 1 auto;

    @media (min-width: 768px) {
      font-size: 1.6rem;
    }
  }

  &__presentations {
    @include dFlex(0, center, center);
    flex-direction: column;
    background-image: linear-gradient(to bottom, #00cfb4be, #379cfa);
    @include padding(2.5rem, 1.6rem);
    @include textStyle($white, $montserrat, 1.3rem, regular, 1.2);
    cursor: pointer;
    border-radius: 1.3rem;
    text-align: center;
    flex: 1 1 auto;

    &:hover {
      box-shadow: 5px 5px 10px rgba(3, 3, 3, 0.452);
    }
    @media (min-width: 768px) {
      font-size: 1.6rem;
    }
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111ab;
  @include dFlex(column, center, center);


  &__container {
    text-align: center;
    background-color: $orangePastel;
    border-radius: 2.5rem;
    padding: 2rem;
    width: 70%;
    box-shadow: 5px 8px 20px rgba(3, 3, 3, 0.452);
    @media (min-width: 768px) {
      width: 60%;
    }
    @media (min-width: 1024px) {
      width: 60%;
      @include dFlex(row, center, center);
    }
  }

  &__imgM {
    width: 18rem;
    margin-bottom: 1.5rem;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }

  &__name {
    margin-bottom: 1.5rem;
    @include textStyle($white, $montserrat, 1.5rem, $bold, 2);
    text-transform: uppercase;
    filter: drop-shadow(2px 2px 2px #000000);
  }

  &__titleP {
    @include textStyle(rgb(124, 122, 122), $montserrat, 1.5rem, bold, 1.2);
    margin-bottom: 2.5rem;
    @media (min-width: 768px) {
      font-size: 1.8rem;
      margin-top: 2rem;
      margin-inline: 3rem
    }
  }

  .text-column {
    @media (min-width: 768px) {
      @include dFlex(column, center, center);
      margin: auto;
    }
  }

  &__text {
    @include textStyle($white, $montserrat, 1.2rem, regular, 1.5);
    margin-bottom: 2.5rem;
    text-align: justify;
    @media (min-width: 768px) {
      margin-inline: 3rem;
      font-size: 1.4rem;
    }
  }

  &__close {
    @include textStyle($white, $montserrat, 1.6rem, regular, 1.5);
    @include btn(none, 3rem, $background1);
    text-decoration: none;
    padding: 0.5rem 2.5rem;
    cursor: pointer;
    &:hover{
      background-color: $coral;
    }
  }
}

.hidden {
  display: none;
}
