.footer {
  background-image: linear-gradient(to bottom, #4ec7ffc4, #00cfb4be);
  padding: 20px;
  width: 100%;
  height: auto;
  text-align: center;
  &_section_content {
    display: flex;
    flex-direction: column;
    /*align-items: center; */
  }
  &_section_rrss {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_section_rrss a {
    color: $white;
    margin: 5px 15px;
    transition: color 0.3s, transform 0.3s;

}
  &_section_rrss a:hover {
    color: $blue;
    transform: rotate(360deg);
    /*transform: translateY(-5px);*/

}
  &_section_rrss i {
    font-size: 2rem;
  }
  &_section_links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
  }
  &_section_links a {
    margin-top: 15px;
    color: $black;
    font-family: $montserrat;
    text-decoration: none;
    text-transform: uppercase;
  }

  &_section_logo {
    display: flex;
    justify-content: flex-end;

    &-img {
      width: 15rem;
    }
  }

  &_section_copy {
    display: flex;
    color: $black;
    font-family: $montserrat;
    justify-content: center;
    margin-top: 1rem;
  }
}

/*display: flex;*/
