.orga {
  width: 100%;
  height: 700px;
  &_h1 {
    text-align: center;
    @include textStyle($blue, $montserrat, 2rem, bold, 1.5rem);
    position: absolute;
    text-align: center;
    top: 10px;
    left: 110px;
  }
  &_container {
    position: relative;
  }
  &_cardBox {
    font-size: 1.2em;
    margin: 1% 0 0 1%;
    perspective: 800px;
    transition: all 0.3s ease 0s;
    width: 23.7%;
  }
  &_cardBox:hover .adaCard {
    transform: rotateY(180deg);
  }
  &_cardBox:hover .graceCard {
    transform: rotateY(180deg);
  }
  &_.cardBox:hover .margaCard {
    transform: rotateY(180deg);
  }
  &_cardBox:hover .ilusCard {
    transform: rotateY(180deg);
  }
  &_cardBox:hover .adaCard2 {
    transform: rotateY(180deg);
  }
  &_cardBox:hover .margaCard2 {
    transform: rotateY(180deg);
  }
  &_adaCard,
  &_graceard,
  &_margaCard,
  &_ilusCard,
  &_adaCard2,
  &_margaCard2 {
    width: 100px;
    height: 100px;
    position: absolute;
    margin-bottom: 1.5rem;
    background-size: cover;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: transform 0.4s ease 0s;
  }
  &_adaCard {
    left: 40px;
    top: 100px;
    background-image: url('../../images/ada100.jpg');
    background-color: aqua;
  }
  &_margaCard {
    left: 200px;
    top: 200px;
    background-image: url('imagenes/hamilyon100-1.jpg');
    background-color: blueviolet;
  }
  &_graceCard {
    left: 80px;
    top: 400px;
    background-image: url('imagenes/grace100.jpg');
    background-color: cadetblue;
  }
  &_ilusCard {
    left: 200px;
    top: 400px;
    background-image: url('imagenes/ilus100.jpg');
    background-color: cornflowerblue;
  }
  &_adaCard2 {
    left: 200px;
    top: 600px;
    background-image: url('imagenes/ada100.jpg');
    background-color: coral;
  }
  &_margaCard2 {
    left: 90px;
    top: 500px;
    background-image: url('imagenes/hamilyon100-1.jpg');
    background-color: lightseagreen;
  }

  &_shadow {
    filter: drop-shadow(0 0 1rem);
  }
}
