.container {
  padding-block: 8rem 5rem;
  background-color: $turquoiseLight;
  margin-top: 5rem;
  &_div {
    position: relative;
    &_figure {
      position: relative;
      left: 300px;
      &_img {
        @include dFlex(0, center, center);
        flex-wrap: wrap;
        margin: auto;
        gap: 3rem;
      }
    }
  }
}
