.sponsors{
    margin-block: 5rem;
    &_title{
       text-align: center;
       @include textStyle($bluePastel, $montserrat, 2rem, bold, 1.5rem);
       margin-bottom: 5rem;
       @media (min-width: 768px) {
        font-size: 3.5rem;
      }
    }
    &_img{
        @include dFlex(0, center, center);
        flex-wrap: wrap;
        margin: auto; 
        gap: 3rem; 
        :hover{
            transform: scale(1.1);
            box-shadow: 0 0 15px $orangePastel;
        }
    }
    &_button{
        @include dFlex(0, center, center);
        background-color:$bluePastel;
        border: currentColor;
        border-radius: 4px;
        padding: 10px 15px; 
        margin-inline: auto;
        margin-block: 5rem; 
        @include textStyle($white, $montserrat, 2rem, $regular, 1.5rem);
        @media (min-width: 768px) {
            font-size: 2.5rem;
            padding: 15px 20px;
          }
        
    }
    &_a{
        text-decoration: none;
        :hover{
            transform: scale(1.1);
            box-shadow: 0 0 15px $greenPastel;
            cursor: pointer; 
        }
    }
}