.sponsors{
    padding-block: 8rem 5rem; 
    background-color: $turquoiseLight;
    margin-top: 5rem;
    &_title{
       text-align: center;
       @include textStyle($blueM, $montserrat, 2rem, bold, 1.5rem);
       margin-bottom: 5rem;
       @media (min-width: 768px) {
        font-size: 3.5rem;
      }
    }
    &_img{
        @include dFlex(0, center, center);
        flex-wrap: wrap;
        margin: auto; 
        gap: 3rem; 
        &_unique{
            width: 25rem;
            height: 20rem;  
        }
        &_a{
            :hover{
                transform: scale(1.1);
                filter: grayscale(100%);
            }
        }
        
    }
    &_button {
        @include dFlex(0, center, center);
        @include btn(none, 3rem, $blueM);
        padding: 10px 15px;
        margin-inline: auto;
        margin-block: 15rem;
        @include textStyle($white, $montserrat, 1.5rem, $regular, 1.5);
        @media (min-width: 768px) {
          font-size: 2rem;
          padding: 15px 20px;
        }
      }
    &_a{
        text-decoration: none;
        :hover{
            background-color: $turquoise;
            cursor: pointer; 
        }
    }
}